WindowsFormsAppNaloga5/Connected Services/FirstWebService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAvtoVAvtosalonu">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AvtoVAvtosalonu" nillable="true" type="tns:AvtoVAvtosalonu" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAvtoVAvtosalonu" nillable="true" type="tns:ArrayOfAvtoVAvtosalonu" />
  <xs:complexType name="AvtoVAvtosalonu">
    <xs:sequence>
      <xs:element minOccurs="0" name="avto" type="xs:int" />
      <xs:element minOccurs="0" name="avtosaloni" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvtoVAvtosalonu" nillable="true" type="tns:AvtoVAvtosalonu" />
  <xs:complexType name="Avtosalon">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="kraj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="letoUstanovitve" type="xs:int" />
      <xs:element minOccurs="0" name="naziv" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Avtosalon" nillable="true" type="tns:Avtosalon" />
  <xs:complexType name="ArrayOfAvto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Avto" nillable="true" type="tns:Avto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAvto" nillable="true" type="tns:ArrayOfAvto" />
  <xs:complexType name="Avto">
    <xs:sequence>
      <xs:element minOccurs="0" name="cena" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="znamka" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Avto" nillable="true" type="tns:Avto" />
  <xs:complexType name="ArrayOfAvtosalon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Avtosalon" nillable="true" type="tns:Avtosalon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAvtosalon" nillable="true" type="tns:ArrayOfAvtosalon" />
  <xs:complexType name="ArrayOfUporabniskiRacun">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UporabniskiRacun" nillable="true" type="tns:UporabniskiRacun" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUporabniskiRacun" nillable="true" type="tns:ArrayOfUporabniskiRacun" />
  <xs:complexType name="UporabniskiRacun">
    <xs:sequence>
      <xs:element minOccurs="0" name="admin" type="tns:UporabniskiRacun.Admin" />
      <xs:element minOccurs="0" name="geslo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="uporabniskoIme" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UporabniskiRacun" nillable="true" type="tns:UporabniskiRacun" />
  <xs:simpleType name="UporabniskiRacun.Admin">
    <xs:restriction base="xs:string">
      <xs:enumeration value="da" />
      <xs:enumeration value="ne" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UporabniskiRacun.Admin" nillable="true" type="tns:UporabniskiRacun.Admin" />
</xs:schema>